body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.img-grid__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 10rem);
  grid-auto-rows: 10rem;
  grid-gap: 2rem;
  grid-auto-flow: row dense;
  /* grid-auto-flow: row dense; */
  /*  Note this is experimental, not supported yet. */
  /* grid-template-rows: masonry; */
  /* align-tracks: end, start, space-between; */
}

.img-grid__article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* overflow: hidden; */
}

.img-grid__article__picture__wrapper {
  grid-row: 1;
  grid-column: 1;
  /* width: 100%; */
  /* height: 100%; */
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.img-grid__article__picture {
  width: 100%;
  height: 100%;
}

.img-grid__article__img {
  display: inline;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-grid__article__focus-overlay__wrapper {
  display: none;
  grid-row: 1;
  grid-column: 1;
  max-width: 100%;
  max-height: 100%;
}

.img-grid__article__focus-overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.6);
  grid-column: 1;
  grid-row: 1;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . expand"
    ". heart ."
    ". . .";

  align-items: center;
  justify-items: center;
}

.img-grid__article:hover .img-grid__article__focus-overlay{
  display: grid;
}

.img-gird__article__heart {
  height: 3rem;
  width: 3rem;
  grid-area: heart;
  background: transparent;
  border: none;
}

.img-gird__article__heart:hover {
  height: 3.5rem;
  width: 3.5rem;
}

.img-gird__article__expand {
  height: 3rem;
  width: 3rem;
  grid-area: expand;
  background: transparent;
  border: none;
}

.img-gird__article__expand:hover {
  height: 3.5rem;
  width: 3.5rem;
}
