body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --OVERLAY-COLOR: rgba(100, 100, 100, 0.6);
}

.button--svg--icon {
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
}

/* || IMG-GRID */

.img-grid__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 10rem);
  grid-auto-rows: 10rem;
  grid-gap: 2rem;
  grid-auto-flow: row dense;
  padding: 1rem;
  /* grid-auto-flow: row dense; */
  /*  Note this is experimental, not supported yet. */
  /* grid-template-rows: masonry; */
  /* align-tracks: end, start, space-between; */
}

.img-grid__article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* overflow: hidden; */
}

.img-grid__article__picture__wrapper {
  grid-row: 1;
  grid-column: 1;
  /* width: 100%; */
  /* height: 100%; */
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.img-grid__article__img {
  display: inline;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-grid__article__focus-overlay__wrapper {
  display: none;
  grid-row: 1;
  grid-column: 1;
  max-width: 100%;
  max-height: 100%;
}

.img-grid__article__focus-overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--OVERLAY-COLOR);
  grid-column: 1;
  grid-row: 1;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . expand"
    ". heart ."
    ". . .";

  align-items: center;
  justify-items: center;
}

.img-grid__article:hover .img-grid__article__focus-overlay {
  display: grid;
}

.img-gird__article__heart {
  height: 3rem;
  width: 3rem;
  grid-area: heart;
  background: transparent;
  border: none;
}

.img-gird__article__heart:hover svg {
  height: 3.5rem;
  width: 3.5rem;
}

.img-gird__article__expand {
  height: 3rem;
  width: 3rem;
  grid-area: expand;
  background: transparent;
  border: none;
}

.img-gird__article__expand svg:hover {
  height: 3.5rem;
  width: 3.5rem;
}

/* || img dilog */

.img-dialog {
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding: 3rem;

  top: 0;
  left: 0;

  background-color: var(--OVERLAY-COLOR);

  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.img-diolog__close-button {
  height: 3rem;
  width: 3rem;
  grid-row: 1;
  grid-column: 12;
  background: transparent;
  border: none;
}

.img-diolog__close-button svg:hover {
  height: 3.5rem;
  width: 3.5rem;
}

.img-dilog__img {
  display: inline;
  grid-row: 2 / 11;
  grid-column: 2 / 11;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* || HOME PAGE */
.home-page__nav {
  display: grid;

  height: 4rem;
  align-items: center;
  grid-template-columns: 3fr 4fr 3fr;
  justify-items: center;
}

.home-page__search-input {
  height: inherit;
  height: 2rem;
  border-radius: 1rem;
  border: 2px solid gray;
  padding-left: 2.5rem;
  background-image: url("./icons/search.svg");
  background-repeat: no-repeat;
  grid-column: 2;
  width: 100%;
}

.home-page__liked-imgs-button {
  display: grid;
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  grid-template-rows: repeat(6, 0.5rem);
  grid-template-columns: repeat(6, 0.5rem);
}

.home-page__liked-imgs-button-btn {
  height: 2rem;
  width: 2rem;
  background: transparent;
  border: none;
  grid-column: 2 /6;
  grid-row: 2 / 6;
}

.home-page__liked-imgs-button-btn svg {
  height: 3rem;
  width: 3rem;
}
.home-page__liked-imgs-button-btn:hover svg {
  height: 3.5rem;
  width: 3.5rem;
}

.home-page__liked-imgs-button-counter {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;

  background-color: red;
  grid-column: 5/6;
  grid-row: 1/2;
  z-index: 1;
  text-align: center;
  line-height: 1rem;

}
